<!-- <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
        <b>Version</b> 3.1.0-rc
    </div>
    <strong>Copyright &copy; 2014-2020 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
</footer> -->

<footer class="main-footer">
    <div class="first-main">
        <div class="title-foot-opt">
            <p>
                Services
            </p>
        </div>

        <ul class="ul-foot">
            <li>Listar usarios</li>
            <li>Ver roles</li>
            <li>otros</li>
        </ul>
    </div>
    <div class="first-main">
        <div class="title-foot-opt title-foot-opt-second">
            <p>
                About us
            </p>
        </div>
        <ul class="ul-foot">
            <li>conoce mas acerca de nosotros</li>
            <li>Nuestra historia</li>
            <li>Vision</li>
            <li>actualmente</li>
        </ul>
    </div>
    <div class="first-main">
        <div class="title-foot-opt">
            <p>
                Contact
            </p>
        </div>
        <ul class="ul-foot">
            <li>Whatsapp</li>
            <li>Mesenger</li>
            <li>Instagram</li>
        </ul>
    </div>
</footer>